[Unit]
Description=frodokobe
After=NetworkManager.service time-sync.target frodolaunch.service

[Service]
Type=simple
User=frodov2
ExecStart=/home/frodov2/run8.sh
#Restart=on-failure

[Install]
WantedBy=multi-user.target


