[Unit]
Description=frodolaunch
After=NetworkManager.service time-sync.target chisel.service

[Service]
Type=simple
User=frodov2
ExecStart=/home/frodov2/run2.sh
#Restart=on-failure

[Install]
WantedBy=multi-user.target

